<!-- extend base layout -->
{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <p>This is the MekichaBlog platform where you can blog about your 
  expereience. </p>
  <p>And read about the experiences of other users, who you can choose to follow.</p>
  <p>It is like twitter, without the 140 characters restriction.</p>
  <p>Just so you spend time on what matters-sharing your ideas, not counting characters.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}